<!DOCTYPE html>
<html lang="en">
<head>
  <title>Result Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<body background="" style="background: #f1e9e9;padding-top: 10px; padding-left: 50px; padding-right: 50px">
    <div class = "container-fluid" style="height: 60px;">
        
        <div class = "row h-100 align-items-center" style=" background: #ffffff; padding-left: 40%; margin-top: 50px;">
            <div class = "col-12" style="">
                <h1>Result Analysis</h1>
            </div>
        </div>
        {% if messages %}
        <div class = "row h-100 align-items-center" style=" background: #ffffff; padding-left: 40%; margin-top: 50px;">
            <div class = "col-12" style="">
                
                  {% for m in messages %}
                    <div class="alert alert-sussess">{{ m }}</div>
                  {% endfor %}
                
            </div>
        </div>
        {% endif %}
        <div class="row h-100 align-items-center" style=" background: #ffffff; padding-left: 10%; padding-right: 10%;padding-top: 2%;padding-bottom: 2%; margin-top: 50px;">
          <div class = "col-12" style="">
            <h5><Strong>An option is available in Excel / Calc to save as CSV. Save the result.xlsx as result.csv.</Strong>
            <Strong><p>Input File Format</p></Strong></h5>
            <table>
              
              <tr> 
                <td>
                  <Strong>Code1</Strong>
                </td> 
                <td>
                  <Strong>Code2</Strong>
                </td> 
                <td>
                  <Strong>Code3</Strong>
                </td>
              </tr>

              <tr> 
                <td>
                  Subject1 Grade1
                </td> 
                <td>
                  Subject1 Grade2
                </td> 
                <td>
                  Subject1 Grade3
                </td>
              </tr>
              <tr> 
                <td>
                  Subject2 Grade1
                </td> 
                <td>
                  Subject2 Grade2
                </td> 
                <td>
                  Subject2 Grade3
                </td>
              </tr>
              <tr> 
                <td>
                  Subject3 Grade1
                </td> 
                <td>
                  Subject3 Grade2
                </td> 
                <td>
                  Subject3 Grade3
                </td>
              </tr>
            </table>
            </div>
        </div>
        
        <div class="row h-100 align-items-center" style=" background: #ffffff; padding-left: 40%;padding-top: 2%; margin-top: 50px;">
            <div class="col-12">
                <form action="/analysis/home/" method='POST' enctype="multipart/form-data">
                  <div>
                    {% csrf_token %}
                    {{ homeForm.as_p }}
                  </div>
                  <div style="padding-left: 80%">
                    <button class="btn btn-primary" type="Submit">NEXT</button>
                  </div>
                </form>
            </div>
        </div>
        <div class = "row h-100 align-items-center" style=" background: #ffffff; padding-left: 85%; margin-top: 50px;margin-bottom: 50px">
            <div class = "col-12" style="">
                <h4>By</h4>
                <h4>Prof Rahul Kulkarni</h4>
                <h4>Shrirang Patil</h4>
                <h4>Dept of CSE GIT</h4>
            </div>
        </div>
    </div>
</body>
